body {
    background-color: white;
}

.root {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    cursor: pointer;
}

.board {
    position: absolute;
    z-index: 1;
}

.shapes {
    position: absolute;
    z-index: 2;
}

.target {
    position: absolute;
    z-index: 3;
}