* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: black;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: -5px;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    background-color: black;
    color: white;
}

.level {
    margin: 0;
    padding-top: 10px;
    clear: both;
    margin: 0 auto;
    width: 660px;
}

.info {
    margin: 0 auto;
    width: 1060px;
    cursor: pointer;
    display: block;    
}

.center_block {
    float: left; 
    width: 330px;
}

.side_block {
    float: left; 
    width: 200px; 
}

.left {
    padding-right: 10px;
}

.right {
    padding-left: 10px;
}

.level_number_view {
    text-align: right; 
    font-size: 78px; 
    font-weight: bold;
}

.main_scene {
    position: relative;
    cursor: pointer;
    display: block;
}

.first_scene {
    margin: 0 auto;
    width: 650px;
    display: none;
}

.board {
    position: absolute;
    z-index: 1;
}

.shapes {
    position: absolute;
    z-index: 2;
}

.target {
    position: relative;
    z-index: 3;
    border: black;
}